/*
 * JSR Info
 *
 * This is an API server for a developer web portfolio. Used @jose-rodrigues.info
 *
 * API version: 1.0.0
 * Contact: jsr@jose-rodrigues.info
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package api

import (
	"net/http"
	"strings"

	"github.com/gorilla/mux"
)

// The Route type definition
type Route struct {
	Name        string
	Method      string
	Pattern     string
	HandlerFunc http.HandlerFunc
}

// Define new type 'Routes' as an array of 'Route'
type Routes []Route

// Method responsible for route configuration
func NewRouter() *mux.Router {
	router := mux.NewRouter().StrictSlash(true)

	routes := Routes{
		Route{
			"GetJobs",
			strings.ToUpper("Get"),
			"/v1/devinfo/jobs",
			GetJobs,
		},

		Route{
			"GetProjects",
			strings.ToUpper("Get"),
			"/v1/devinfo/projects",
			GetProjects,
		},
	}

	for _, route := range routes {
		var handler http.Handler
		handler = route.HandlerFunc
		handler = Logger(handler, route.Name)

		router.
			Methods(route.Method).
			Path(route.Pattern).
			Name(route.Name).
			Handler(handler)
	}

	return router
}
